

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;

}

body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.wrapper {
  
  width: 400px;
  background-color: black;
  color: white;
  Margin: 0;
  
}

.screen {
  background-color: black;
  color: white;
  font-size: 40px;
  text-align: right;
  font-family: monospace;
  padding:1px 5px

}

.calculator-buttons > .operator {
  
  text-align: center;
  background-color: #df974c;
  color: white;
  font-size: 40px;
  padding: 1px 5px;
  
}


.calculator-buttons {
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.double-size {
  grid-column: 1 / 3;
}

.triple-size {
  grid-column: 1 / 4;
}


.button {
  
  background-color: #d8d9db;
  color: black;
  font-size: 40px;
  height: 85px;
  padding: 1px 5px;
  cursor: pointer;
 
}

.button:hover {
  background: #ebebeb;
}

.button:active {
  background: #bbbcbe;
}

 

.operator {
  
  text-align: center;
  background-color: #df974c;
  color: white;
  font-size: 40px;
  padding: 1px 5px;
  
}

.operator:hover; {
  background: #dfb07e;

}

.operator:active; {
  background: #dd8d37;
}
